@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700;800&family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', -apple-system, sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
